html {
    height: 100%;
    overflow: hidden;
}

p, b {
    font-family: "consolas";
}
a {
    color: rgb(0, 255, 242);
}

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    justify-content: center;
    background-color: rgb(156, 202, 255);
    color: rgb(4, 28, 88);
    text-align: center;
    margin:0;

}
    .name{
        padding-inline: 1%;
        border-radius: 0.75vh;
        text-align: left;
        margin: 0.5vh;
    }

    .message{
        background-color:rgb(156, 202, 255);
        padding: 1%;
        border-radius: 0.75vh;
        text-align: left;
        margin: 0.5vh;
    }

