html {
    height: 100%;
    overflow: hidden;
}

html * {
    font-family: "arial";
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 26, 26);
    color: rgb(230, 230, 230);
    text-align: center;
}

    .topbar{
        position: fixed;
        top: 0px;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        background-color: rgb(36, 36, 36);
    }

        .topbutton{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 80px;
            text-align: center;
            background-color: rgb(36, 36, 36);
            color: rgb(139, 235, 139);
            border: 2px rgb(155, 155, 155) solid;
            margin-left: -2px;
            cursor: pointer;
        }

    .main{
        top: 50px;
        display: flex;
        height: calc(100% - 50px);
        width: 100%;
        flex-direction: row;
        align-items: start;
        justify-content: left;
        position: relative;
    }

        .scroll{
            top: 2%;
            display: flex;
            left: 1%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            height: 92%;
            aspect-ratio: 9 / 16;
            text-align: center;
            position: sticky;
            background-color: rgb(36, 36, 36);
            color: rgb(139, 235, 139);
            border: 2px rgb(155, 155, 155) solid;
            margin-left: -2px;
            border-radius: 2vmin;
        }

        .imagescroll{
            position: absolute;
            left: 0%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            
        }

        @keyframes scroll-out {
            0% {top: 0%;}
            100% {top: -100%;}
        }

        @keyframes scroll-in { 
            0% {top: 100%;}
            100% {top: 0%;}
        }

        .scrollbutton{
            position: absolute;
            top: 85%;
            right: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 12%;
            aspect-ratio: 1 / 1;
            text-align: center;
            cursor: pointer;
            z-index: 5;
            opacity: 100%;
            background-color: rgb(0, 0, 0, 0.0);
            cursor: pointer;
        }

        .redbar{
            position: absolute;
            top: 99%;
            left: 0%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 2%;
            width: 0%;
            text-align: center;
            background-color: rgb(255, 0, 100, 0.75);
        }

        @keyframes barAnim {
            0% {width: 0%;}
            100% {width: 100%;}
        }
        

        .resto{
            display: flex;
            width: 80%;
            flex-direction: column;
            align-items: center;
            height: 90%;
            position: sticky;
            
        }
            .tabbutton{
                text-align: center;
                background-color: rgb(26, 26, 26);
                color: rgb(139, 235, 139);
                border: 1px rgb(26, 26, 26) solid;
                cursor: pointer;
            }

            .upgradeTab{
                    display: flex;
                    width: 95%;
                    justify-content: start;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    overflow-y: auto;
                    scrollbar-color: rgb(255, 255, 255) rgb(26, 26, 26);
            }

                .upgrades{
                    display: flex;
                    width: 100%;
                    min-height: 25%;
                    height: 25%;
                    justify-content: center;
                    gap: 1.5%;
                    flex-direction: row;
                    align-items: center;
                }

                    .gamebutton{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        width: 22%;
                        height: 100%;
                        text-align: center;
                        background-color: rgb(36, 36, 36);
                        color: rgb(139, 235, 139);
                        border: 2px rgb(155, 155, 155) solid;
                        cursor: pointer;
                        border-radius: 1vmin;
                        padding: 0.8%;
                        font-size: 1cqw;
                    }

                    .gamebutton:disabled {
                        background-color: black;
                        cursor: default;
                        }

        .progressBarCosa{
            display: flex;
            height: 4%;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 2%;            
        }
            .progressBarBg{
                position: absolute;
                left: 0%;
                display: flex;
                height: 100%;
                width: 100%;
                text-align: center;
                background-color: rgb(7, 7, 7);
                z-index: -5;
                border-radius: 1vmin;
            }

            .progressBar{
                position: absolute;
                left: 0%;
                display: flex;
                height: 100%;
                width: 0%;
                text-align: center;
                background-color: rgb(255, 156, 238);
                z-index: -4;
                border-radius: 1vmin;
            }

